<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="korit.com.make_fitness.mapper.ClassMapper">

    <resultMap id="ClassResultMap" type="korit.com.make_fitness.entity.Class">
        <id property="classId" column="class_id"/>
        <result property="userId" column="user_id"/>
        <result property="classSubjectId" column="class_subject_id"/>
        <result property="classTime" column="class_time"/>
        <result property="classMaxCustomer" column="class_max_customer"/>
        <result property="classCustomerReserve" column="class_customer_reserve"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <association property="user" javaType= "korit.com.make_fitness.entity.User" resultMap="korit.com.make_fitness.mapper.UserMapper.UserResultMap" />

        <association property="classSubject" javaType="korit.com.make_fitness.entity.ClassSubject">
            <id property="classSubjectId" column="s_class_subject_id"/>
            <result property="classSubjectName" column="class_subject_name"/>
        </association>
    </resultMap>



    <insert id="insertClass" keyProperty="classId" useGeneratedKeys="true">
        insert into class_tb
        values (default, #{userId}, #{classSubjectId}, DATE_FORMAT(#{classTime}, '%Y-%m-%d %H'), #{classMaxCustomer}, #{classCustomerReserve}, now(), now())
    </insert>


    <select id="findAllUserAndSubject" resultMap="ClassResultMap">
        SELECT
            c.user_id,
            s.class_subject_name,
            c.class_time,
            c.class_max_customer,
            c.class_customer_reserve,
            u.nickname,
            u.ph,
            u.gender
        FROM class_tb c
            LEFT JOIN user_tb u ON c.user_id = u.user_id
            LEFT JOIN class_subject_tb s ON c.class_subject_id = s.class_subject_id
    </select>
    <select id="findBySubjectName" resultMap="ClassResultMap">
        SELECT
            c.user_id,
            s.class_subject_name,
            c.class_time,
            c.class_max_customer,
            c.class_customer_reserve,
            u.nickname,
            u.ph,
            u.gender
        FROM
            class_tb c
            LEFT JOIN user_tb u ON c.user_id = u.user_id
            LEFT JOIN class_subject_tb s ON c.class_subject_id = s.class_subject_id
        WHERE
            s.class_subject_name = #{subjectName}
    </select>

    <select id="findByNickName" resultMap="ClassResultMap">
        SELECT
            c.user_id,
            s.class_subject_name,
            c.class_time,
            c.class_max_customer,
            c.class_customer_reserve,
            u.nickname,
            u.ph,
            u.gender
        FROM class_tb c
            LEFT JOIN user_tb u ON c.user_id = u.user_id
            LEFT JOIN class_subject_tb s ON c.class_subject_id = s.class_subject_id
        WHERE u.nickname LIKE CONCAT('%', #{nickname}, '%')
    </select>

</mapper>