<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="korit.com.make_fitness.mapper.MasterMapper">
    <update id="updateRoleName" keyProperty="userId" useGeneratedKeys="true">
        update
            user_tb
        set
            role_name = #{roleName}
        where
            user_id = #{userId}
    </update>

    <delete id="deleteManager" parameterType="int">
        delete from
            user_tb
        where
            roleName = #{roleName} and user_id = #{userId}
    </delete>

    <select id="findManager" resultType="korit.com.make_fitness.dto.request.ReqManagerDto"><![CDATA[
        select
            manager_id,
            nickname,
            gender,
            ph,
            (select distinct count(*) from pay_id where user_id = ut.user_id),
            (select sum(promotion_session_count) from membership_tb where user_id = ut.user_id)
        from
            user_tb ut
        left outer join pay_tb pt on(pt.user_id = ut.user_id)
        left outer join membership_tb mt on(mt.user_id = ut.user_id)
    ]]></select>
</mapper>