<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="korit.com.make_fitness.mapper.RegisterMapper">
    <resultMap id="RegisterResultMap" type="korit.com.make_fitness.entity.Class">
        <id property="classId" column="class_id" />
        <result property="managerId" column="manager_id" />
        <result property="classSubjectId" column="class_subject_id" />
        <result property="classTime" column="class_time" />
        <result property="classMaxCustomer" column="class_max_customer" />
        <result property="classCustomerReserve" column="class_customer_reserve" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />

        <association property="user" javaType="korit.com.make_fitness.entity.User">
            <id property="userId" column="user_id"/>
            <result property="nickname" column="nickname"/>
        </association>

        <association property="classSubject" javaType="korit.com.make_fitness.entity.ClassSubject">
            <id property="classSubjectId" column="class_subject_id"/>
            <result property="classSubjectName" column="class_subject_name"/>
        </association>
    </resultMap>
    <insert id="insert" keyProperty="classId" useGeneratedKeys="true">
        insert into class_tb
        values
        <foreach collection="list" item="ct" separator=",">
        (
            default,
            #{ct.managerId},
            #{ct.classSubjectId},
            DATE_FORMAT(#{ct.classTime}, '%Y-%m-%d %H'),
            #{ct.classMaxCustomer},
            0,
            now(),
            now()
        )
        </foreach>
    </insert>

    <select id="selectAll" resultMap="RegisterResultMap">
        select
            ut.nickname,
            cs.class_subject_name,
            ct.class_time,
            ct.class_max_customer,
            ct.class_customer_reserve
        from
            class_tb as ct
        left outer join user_tb ut on ut.user_id = ct.manager_id
        left outer join class_subject_tb as cs on ct.class_subject_id = cs.class_subject_id
    </select>
    <select id="selectByManagerId" resultType="korit.com.make_fitness.entity.Class">
        select
            ut.nickname,
            cs.class_subject_name,
            ct.class_time,
            ct.class_max_customer,
            ct.class_customer_reserve
        from
            class_tb as ct
            left outer join user_tb ut on ut.user_id = ct.manager_id
            left outer join class_subject_tb as cs on ct.class_subject_id = cs.class_subject_id
        where
            manager_id = #{managerId}
    </select>
</mapper>