<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="korit.com.make_fitness.mapper.MembershipMapper">

    <resultMap id="membershipResultMap" type="korit.com.make_fitness.entity.Membership">
        <id property="membershipId" column="membership_id"/>
        <result property="userId" column="user_id"/>
        <result property="promotionId" column="promotion_id"/>
        <result property="promotionSessionCount" column="promotion_session_count"/>
        <result property="promotionSessionTime" column="promotion_session_time"/>
        <result property="expiredDate" column="expired_date"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <!-- 멤버십 가입자 추가(+결제건 같이 저장) -->
    <insert id="insert" keyProperty="membershipId" useGeneratedKeys="true">
        INSERT INTO membership_tb (
            user_id,
            promotion_id,
            promotion_session_count,
            promotion_session_time,
            expired_date,
            created_at,
            updated_at
        )
        SELECT
            #{userId},
            pt.promotion_id,
            pt.promotion_session_count,
            pt.promotion_session_time,
            DATE_ADD(NOW(), INTERVAL pt.promotion_session_time MONTH),
            NOW(),
            NOW()
        FROM
            promotion_tb pt
        WHERE
            pt.promotion_id = #{promotionId}
    </insert>

    <!-- 세션 카운트 감소 -->
    <update id="updateSessionCount">
        UPDATE
            membership_tb
        SET
            promotion_session_count = GREATEST(0, promotion_session_count - 1)
        WHERE
            membership_id = #{membershipId} AND promotion_session_count > 0
    </update>

    <!-- 세션 카운트 증가 -->
    <update id="restoreSessionCount">
        UPDATE
            membership_tb
        SET
            promotion_session_count = promotion_session_count + 1
        WHERE
            membership_id = #{membershipId}
    </update>

    <!-- userId로 멤버십 가입자 조회 -->
    <select id="findByUserId" resultMap="membershipResultMap">
        SELECT
            *
        FROM
            customer_tb
        WHERE
            user_id = #{userId}
    </select>

    <!-- 멤버십 고유키를 userId로 조회 -->
    <select id="findUserIdByMembershipId" resultType="int">
        SELECT
            user_id
        FROM
            membership_tb
        WHERE
            membership_id = #{membershipId}
    </select>
</mapper>
