<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="korit.com.make_fitness.mapper.ReservationMapper">

    <resultMap id="ReservationResultMap" type="korit.com.make_fitness.entity.Reservation">
        <id property="reservationId" column="reservation_id"/>
        <result property="classId" column="class_id"/>
        <result property="membershipId" column="membership_id"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <insert id="insertReservation" parameterType="korit.com.make_fitness.dto.request.ReqReservationDto" keyProperty="reservationId" useGeneratedKeys="true">
        insert into reservation_tb (class_id, membership_id, created_at, updated_at)
        select
            #{classId}, #{membershipId}, now(), now()
        from
            dual
        where exists (
            <![CDATA[
            select 1
        from
            class_tb c
            join class_subject_tb cs on c.class_subject_id = cs.class_subject_id
            join membership_tb m on m.membership_id = #{membershipId}
            left join pay_tb p on p.user_id = m.user_id and p.manager_id = c.user_id
        where
            c.class_id = #{classId}
            and (cs.class_subject_name = 'pt' or cs.class_subject_name = 'pilates')
            and p.pay_id is not null
            and m.promotion_session_count > 0
            and c.class_customer_reserve < c.class_max_customer
            and not exists (
                select 1
                from reservation_tb r
                where r.class_id = c.class_id and r.membership_id = m.membership_id
            )
        ]]>
        )
    </insert>

    <delete id="deleteReservationById">
        delete from reservation_tb
        where reservation_id = #{reservationId}
    </delete>

    <select id="existsByClassAndMembership" resultType="boolean">
        select exists (
        select
            1
        from
            reservation_tb
        where
            class_id = #{classId}
            and membership_id = #{membershipId}
        )
    </select>

    <select id="findReservationsByMembershipId" resultMap="ReservationResultMap">
        select *
        from
            reservation_tb
        where
            membership_id = #{membershipId}
    </select>

    <select id="findClassIdListByMembershipId" resultType="java.lang.Integer">
        select class_id
        from
            reservation_tb
        where
            membership_id = #{membershipId}
    </select>

    <select id="findById" resultMap="ReservationResultMap">
        select *
        from
            reservation_tb
        where
            reservation_id = #{reservationId}
    </select>

    <select id="findAvailablePromotionsByUserId" resultType="korit.com.make_fitness.dto.response.RespAvailablePromotionDto">
        select
            m.membership_id AS membershipId,
            p.promotion_name AS promotionName,
            trainer.nickname AS trainerName,
            m.promotion_session_count AS remainingSessionCount,
            m.expired_date AS expiredDate
        from
            membership_tb m
            join promotion_tb p ON m.promotion_id = p.promotion_id
            join pay_tb pay on pay.user_id = m.user_id and pay.promotion_id = p.promotion_id
            join user_tb trainer on trainer.user_id = pay.manager_id
        where
            m.user_id = #{userId}
            and m.promotion_session_count > 0
    </select>

    <select id="findTodayReservationsByMembershipId" resultType="korit.com.make_fitness.dto.response.RespMyTodayReservationDto">
        select
        c.class_time
        from
        reservation_tb r
        join class_tb c on r.class_id = c.class_id
        where
        r.membership_id = #{membershipId}
        and date(c.class_time) = current_date
    </select>

</mapper>
